.buyer-body {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
}

.buyer-form {
    font-family: "Jost", sans-serif;
    background-color: rgba(17, 25, 40, 0.25);
    color: white;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-color: #d0006f9f !important;
    border: solid;
}


input {
    border-radius: 8px;
}

select {
    border-radius: 8px;
}

textarea {
    border-radius: 8px;
}

.telefono {
    width: 300px;
}

h1 {
    font-family: "Medula One", cursive;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
}

.comprador-ppal {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr;
}

.identidad {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 0px 5px;
}

.comprador-contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

.comprador-adress {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
}

.comprador-ubi {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr;
}

.comprador-final {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
}





