.cards { 
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    justify-content: space-around;
}

.cards_productos {
    margin-bottom: 15px;
}

.container_cards {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(208, 0, 110);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 15% 35% 5%;
}

.wrapper {
    max-width: 100%;
    min-height: 500px;
    max-height: 500px;
    padding: 15px;
}

.banner-image {
    height: 100%;
    max-width: 100%;
    border-radius: 12px;
    /*border: 1px solid rgba(255,255,255, 0.255);*/
    justify-self: center;
}

.titulos{
    font-family: "Jost", sans-serif;
    font-weight: bold;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 15px;
    margin: 0px;
    max-height: auto;
}

.texto_descripcion {
    color: #fff;
    font-family: "Jost", sans-serif;
    text-align: center;
    padding:5px;
    margin-bottom: 15px;
    font-size: 15px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(208, 0, 110); 
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(194, 158, 179); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(208, 0, 110); 
}

.precio {
    font-family: "Jost", sans-serif;
    font-size: 20px;
}

/* Responsive para tablet */ 

@media only screen and (max-width: 825px)  {
    .cards { 
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: auto;
        justify-content: space-around;
    }
    
    .cards_productos {
        margin-bottom: 15px;
    }
    
    .container_cards {
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.25);
        border-radius: 12px;
        border: 1px solid rgba(208, 0, 110);  
        padding: 38px;  
        filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 10% 35% 5%;
    }
    
    .wrapper {
        max-width: 100%;
        min-height: 500px;
        max-height: 500px;
        padding: 15px;
    }
    
    .banner-image {
        height: 100%;
        max-width: 100%;
        border-radius: 12px;
        justify-self: center;
    }
    
    .titulos{
        font-family: "Jost", sans-serif;
        font-weight: bold;
        color: rgba(255,255,255,0.98);
        text-transform: uppercase;
        font-size: 15px;
        margin: 0px;
        max-height: auto;
    }
    
    .texto_descripcion {
        color: #fff;
        font-family: "Jost", sans-serif;
        text-align: center;
        padding:5px;
        margin-bottom: 15px;
        font-size: 15px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
    
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(208, 0, 110); 
        border-radius: 15px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(194, 158, 179); 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(208, 0, 110); 
    }
    
    .precio {
        font-family: "Jost", sans-serif;
        font-size: 20px;
    }
}

/* Resposive para celular */

@media only screen and (max-width: 510px) {
    .cards { 
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto;
        justify-content: space-around;
    }
    
    .cards_productos {
        margin-bottom: 15px;
    }
    
    .container_cards {
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.25);
        border-radius: 12px;
        border: 1px solid rgba(208, 0, 110);  
        padding: 38px;  
        filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 10% 35% 5%;
    }
    
    .wrapper {
        max-width: 100%;
        min-height: 500px;
        max-height: 500px;
        padding: 15px;
    }
    
    .banner-image {
        height: 100%;
        max-width: 100%;
        border-radius: 12px;
        justify-self: center;
    }
    
    .titulos{
        font-family: "Jost", sans-serif;
        font-weight: bold;
        color: rgba(255,255,255,0.98);
        text-transform: uppercase;
        font-size: 15px;
        margin: 0px;
        max-height: auto;
    }
    
    .texto_descripcion {
        color: #fff;
        font-family: "Jost", sans-serif;
        text-align: center;
        padding:5px;
        margin-bottom: 15px;
        font-size: 15px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
    
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(208, 0, 110); 
        border-radius: 15px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(194, 158, 179); 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(208, 0, 110); 
    }
    
    .precio {
        font-family: "Jost", sans-serif;
        font-size: 20px;
    }
}


