.mb-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-color: #d0006fd7;
  height: 100vh;
  width: 100%;
  position: sticky !important;
  top: 65px;
  margin-left: 8px;
  border-radius: 12px;
  border: 1px solid rgba(208, 0, 110);
  padding: 10px !important;
}

.cuerpo-filtro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-color: #d0006fd7 !important;
  border-radius: 12px;
}

.offcanvas {
  background-color: #d0006fd7 !important;
  border-color: #d0006fd7 !important;
}

.offcanvas-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-color: #d0006fd7;
  border-radius: 12px;
  width: 100%;
  display: flex !important;
  grid-template-columns: 100% !important;
  justify-content: center !important;
  color: white;
  text-transform: uppercase;
}

.offcanvas-title {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.offcanvas-body {
  background-color: black;
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  text-align: center;
  height: 90%;
  overflow-y: scroll;
}

.d-flex {
  align-items: baseline !important;
}

.boton {
  border-color: #d0006fd7 !important;
}

.navbar-toggler {
  background-color: #d0006e !important;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #d0006e !important;
  --bs-dropdown-link-hover-bg: #fa97cc !important;
  --bs-dropdown-link-hover-color: white !important;
}

.dropdown-menu.show {
  width: 95%;
  padding: 10px;
}

.itemFiltro {
  color: white !important;
}

a:hover {
  color: black !important;
}

.container-fluid {
  position: relative;
  top: 8px;
}

.dropdown {
  padding: 5px 0px !important;
}


@media only screen and (max-width: 826px) {
  .mb-3 {
    max-height: 100% !important;
    position: static !important;
    width: 95%;
    position: sticky;
    top: 0px;
    overflow-y: auto;
    margin: 0px 10px;
  }
}
